@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Poppins: wght@400; 500; 600; 700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@layer components {
  .btn {
    @apply text-white p-3 rounded-lg font-medium text-sm;
  }
  .btn.full {
    @apply w-full;
  }
  .btn.primary {
    @apply bg-primary enabled:hover:bg-gray-800 text-white;
  }
  .btn.secondary {
    @apply bg-secondary enabled:hover:bg-gray-800 text-primary enabled:hover:text-white;
  }
  .btn.secondary.h-tertiary {
    @apply enabled:hover:bg-tertiary;
  }
  .btn.tertiary {
    @apply bg-tertiary enabled:hover:bg-gray-800;
  }
  .btn.tertiary.h-secondary {
    @apply enabled:hover:bg-secondary;
  }
  .btn.red {
    @apply bg-red-700 enabled:hover:bg-red-500;
  }
  .btn.green {
    @apply bg-green-700 enabled:hover:bg-green-500;
  }

  .btn:disabled {
    @apply opacity-65;
  }

  .dropdown {
    @apply p-2 bg-primary text-white rounded-lg;
  }
  .dropdown td {
    @apply p-2;
  }

  .form-label {
    @apply block mb-2 text-sm font-medium text-gray-900 text-black;
  }

  .form-input {
    @apply block w-full p-2 rounded-lg focus:outline-none bg-text;
  }
}

:root {
  --content-padding: 1em;
  --primary-color: #1d1c21;
  --tertiary-color: #d1d5db;
  --secondary-color: #2d3746;
}

/* fuckin hack lmfao */
.bg-red-500 {
  background-color: red;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  margin: 0;
}

/* Hide the spin buttons in WebKit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.app-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
}

.app-content {
  min-height: 100vh;
  overflow-y: scroll;
  padding-bottom: 0;
}
.app-content > div:not(:first-child) {
  padding: 1em;
}

.dash-num.green {
  background: linear-gradient(to top right, darkgreen, black);
}
.dash-num.yellow {
  background: linear-gradient(to top right, yellow, black);
}
.dash-num.red {
  background: linear-gradient(to top right, darkred, black);
}
.dash-num.blue {
  background: linear-gradient(to top right, darkblue, black);
}

footer {
  width: calc(100% + var(--content-padding) * 2);
  transform: translateX(calc(var(--content-padding) * -1));
}

.svg-black {
  filter: invert(0%) sepia(38%) saturate(207%) hue-rotate(46deg) brightness(89%)
    contrast(101%);
}
